<div id="terms-of-service" class="span10 center margin-top20">
<div style="margin:50px;">
<p class="title">Terms of Service</p>

<p>SkuRun,
Inc (&quot;SkuRun&quot;, "Retail Mapper" &quot;we&quot; or &quot;us&quot;)
provides a platform to enable you to develop and manage mobile applications
(each an &quot;Application&quot;) as well as related hosting and support
services (&quot;Service&quot;). By using the SkuRun.com web site
(&quot;Site&quot;) and/or the Service, you are agreeing to be bound by the
following terms and conditions (&quot;Terms of Service&quot;).</p>

<p>SkuRun reserves the right to update and change the Terms of
Service from time to time without advance notice. If we modify these Terms of
Service, we will post the modification on the Site or provide you with notice
of the modification. We will also update the &quot;Last Updated Date&quot; at
the top of these Terms of Service or on the Site. Any new features that augment
or enhance the current Service, including the release of new tools and
resources, shall be subject to the Terms of Service. By continuing to access or
use the Site and Service after we have posted a modification to these Terms of
Service on the Site or have provided you with notice of a modification, you are
indicating that you agree to be bound by the modified Terms of Service. If the
modified Terms of Service are not acceptable to you, your only recourse is to
cease using the Site and Service. You can review the most current version of
the Terms of Service at any time at www.skurun.com Violation of any of the
terms below will result in the termination of your Account. You agree to use
the Service at your own risk and subject to the terms set forth below.</span></p>

<p class="subtitle">Account Terms</p>

<ul>
	<li>
		You must be 13 years or older to use this Service and open an account (&quot;Account&quot;).
	</li>
	<li>
		You must be a human. Accounts registered by &quot;bots&quot; or other automated methods are not permitted.
	</li>
	<li>
		You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process to open an Account.
	</li>
	<li>
		You are responsible for maintaining the security of your Account and password. SkuRun cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.
	</li>
	<li>
		SkuRun will be the sole publisher of your Applications with any mobile platform provider including, but not limited to, for the Android Market, or Blackberry App World, but excluding Apple Computer, Inc. (&quot;Apple&quot;). Such mobile platform providers are referred to in these Terms of Service as &quot;Providers&quot; and you may not use your own Account to publish an Application with any such Providers. As noted above, Apple is not considered a Provider under these Terms of Service and consequently, if you use the Service to develop an Application for the platforms and operating systems for the mobile devices of Apple then you must enter into a separate agreement with Apple directly in this regard to become an Apple application developer and you and not SkuRun will be the publisher of your Applications for Apple mobile devices. Notwithstanding the foregoing, you agree, to provide SkuRun with full access to the account you create with Apple by providing SkuRun with your Apple account login details (e.g. email address/password) so that SkuRun may (i) initially publish your Apple Application, (ii) upgrade your Apple Applications when SkuRun releases new versions of the Service, and (iii) track all revenue by you relating to such Apple Applications and account for such revenues in the context of the Service.
	</li>
	<li>
		You are responsible for all text, data, graphics, images, photos and video files posted on the Site (&quot;Content&quot;) and activity that occurs under your Account (even when Content is posted by others who have access to your Account).
	</li>
	<li>
		You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright and privacy laws).
	</li>
</ul>

<p class="subtitle">Payments and Refund Terms</p>
<ul>
	<li>
		A valid credit card is required.
	</li>
	<li>
		The Service is billed in advance on a monthly or yearly basis and is non-refundable. There will be no refunds or credits for setup fees, partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open Account. In order to treat everyone equally, no exceptions will be made.
	</li>
	<li>
		All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties, excluding only United States (federal or state) taxes.
	</li>
	<li>
		SkuRun will use commercially reasonable efforts to have the Application approved by the applicable Providers. Although there is a high likelihood of approval, we do not and cannot guarantee acceptance. If your Application is denied by the appropriate Provider, you may cancel your Account. However, there are no refunds under any circumstances.
	</li>
	<li>
		If invoiced, payment is due upon receipt.
	</li>
	<li>
	</li>
</ul>

<p class="subtitle">Revenue Share</p>
<ul>
	<li>
		If you decide to distribute your Application through a Provider, we will collect from the Provider the revenue share resulting from (i) the sale of the Application (total sales revenue, as determined by the Provider, less revenue share retained by the Provider) (&quot;Application Sales Revenue&quot;), and retain ten percent (10%) of the Application Sales Revenue, and/or (ii) payments made by Application users for activities within the Application (total revenue for such in-Application payments, as determined by the Provider, less revenue share retained by the Provider) (&quot;In-Application Revenue&quot;) and retain ten percent (10%) of such In-Application Revenue. We will remit to you the remainder amount of such Application Sales Revenue and In-Application Revenue within thirty (30) days of our receipt of the Provider's payment thereof. By way of illustration, if the Provider's revenue share is thirty percent (30%) and the total Application Sales Revenue is one dollar (1$), the Provider will retain 30&cent;, SkuRun will retain 10&cent;, and you will be entitled to 60&cent;.
	</li>
	<li>
		If you decide to sell any digital media (including music, videos or other content) through the Application by using iTunes, Amazon, or 7digital (&quot;Stores&quot;), you may only use straight links to the Stores (i.e., you are not allowed to use any affiliate links). You acknowledge and agree that SkuRun may use affiliate links to the Stores and retain 100% of the applicable affiliate revenue. You may use affiliate links to any other store, other than the Stores, through which you sell your Application.
	</li>
	<li>
		For Apple Applications created using the Service you agree to pay to SkuRun the following: (i)&nbsp;ten percent (10%) of any sales revenue you receive from Apple for sales of your Application, (ii) ten percent (10%) of payments made by Application users for activities within the Application that you receive from Apple, and (iii) if you decide to include any kind of advertising in such Applications using Apple's iAds service (or a similar service), ten percent (10%) of any revenues you receive from Apple for such advertising. All such payments will be made either (a) directly via the Service for which fees SkuRun will charge your credit card or (b) by sending payments to SkuRun via wire transfer, in accordance with the terms that are set forth on the applicable invoice, which terms are incorporated herein by reference and form part of these Terms of Service.
	</li>
</ul>
<p class="subtitle">Cancellation and Termination</p>
<ul>
	<li>
		You are solely responsible for properly canceling your Account. Account cancellation requests must be submitted in writing to&nbsp;
		<a href="mailto:info@SkuRun.com">info@SkuRun.com</a>. Cancellations by phone or sent to any other email address will not be considered valid.
	</li>
	<li>
		All of your Content will be deleted from the Service upon cancellation. This information cannot be recovered once your Account is cancelled.
	</li>
	<li>
		If you cancel the Service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again.
	</li>
	<li>
		SkuRun, in its sole discretion, has the right to suspend or terminate your Account and refuse any and all current or future use of the Service, or any other SkuRun service, for any reason at any time. The reasons we might do this include your violation of these Terms of Service. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account.
	</li>
	<li>
		SkuRun reserves the right to refuse service to anyone for any reason at any time.
	</li>
</ul>

<p class="subtitle">Modifications to the Service and Prices</p>
<ul>
	<li>
		SkuRun reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without prior notice.
	</li>
	<li>
		Prices for the Service, including but not limited to monthly subscription plan fees to the Service, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the Site or via the Service itself.
	</li>
	<li>
		SkuRun shall not be liable to you or to any third party for any of the actions or inactions of its third party business partners regarding modification, price changes, suspension or discontinuance of the services of such third party business partners which work or integrate with the Service.
	</li>
	<li>
		From time to time, SkuRun may issue an update to the Service which may add, modify, and/or remove features from the Service. These updates may be pushed out automatically with little or no notice, although SkuRun will make commercially reasonable efforts to notify you in advance of an upcoming update, including details on what the update includes.
	</li>
</ul>

<p class="subtitle">License Grant, Copyright and Content Ownership</p>
<ul>
	<li>
		You hereby grant to SkuRun a worldwide, irrevocable, perpetual, non-exclusive, transferable, royalty-free license, with the right to sublicense, to use, access, view, copy, adapt, modify, distribute, transfer, publicly display, publicly perform, transmit, stream, broadcast and otherwise exploit such Content in any and all media now and in the future, for any purpose relating to the Service. SkuRun does not claim any ownership rights in your Content and nothing in these Terms of Service will be deemed to restrict any rights that you may have to use and exploit any such Content.
	</li>
	<li>
		We claim no intellectual property rights over your Content. Your profile and materials uploaded by you remain yours. However, by using the Service to create your Application, you agree to allow others to view and share your Content via your Application.
	</li>
	<li>
		SkuRun does not pre-screen Content, but SkuRun and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.
	</li>
	<li>
		The Site and the Service, including their &quot;look and feel&quot; are protected by copyright, trademark, and other laws of the United States and foreign countries. SkuRun exclusively owns all right, title and interest in and to the Site and the Service, including all associated intellectual property rights. Without limiting the foregoing, you may not duplicate, copy, or reuse any portion of the HTML/CSS or visual design elements of the Site or the Service without express written permission from SkuRun.
	</li>
	<li>
		You shall be solely responsible for securing and paying for all digital phonorecord delivery mechanical licenses, any public performance licenses, synchronization licenses and any other licenses from musical composition copyright owners (or their agents) required in connection all Content selected by you for use in connection with your Application.
	</li>
</ul>

<p class="subtitle">Privacy</p>

<p>You and
your Application must abide by all applicable privacy laws and regulations, and
by the terms and conditions set forth by the applicable Provider.</p>

<p class="subtitle">General Conditions</p>
<ul>
	<li>
		You agree that you will not post, upload, publish, submit or transmit any Content that: (i)&nbsp;infringes, misappropriates or violates a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is targeted to children or may be deemed &quot;directed to children&quot; as the term is defined under Children's Online Privacy Protection Act of 1998; (v) is defamatory, obscene, pornographic, vulgar or offensive; (vi)&nbsp;promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vii) is violent or threatening or promotes violence or actions that are threatening to any person or entity; or (viii)&nbsp;promotes illegal or harmful activities or substances.
	</li>
	<li>
		You acknowledge that SkuRun has no obligation to monitor your access to or use of the Site or Service, or to review or edit any Content, but has the right to do so for the purpose of operating the Site and Services, to ensure your compliance with these Terms of Service, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. SkuRun reserves the right, at any time and without prior notice, to remove or disable access to any Content and Accounts we determine in our sole discretion to be in violation of these Terms or otherwise harmful to the Site or Service.
	</li>
	<li>
		You understand that SkuRun uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.
	</li>
	<li>
		You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, or any other SkuRun service.
	</li>
	<li>
		You agree not to reproduce, duplicate, copy, reverse engineer, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by SkuRun.
	</li>
	<li>
		Verbal, physical, written or other abuse (including threats of abuse or retribution) of any SkuRun customer, employee, member, or officer will result in immediate Account termination.
	</li>
	<li>
		You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
	</li>
	<li>
		You must not upload, post, host, or transmit unsolicited email, SMSs, or &quot;spam&quot; messages.
	</li>
	<li>
		You must not transmit any worms or viruses or any code of a destructive nature.
	</li>
</ul>

<p class="subtitle">Disclaimers</p>

<p>Your use of the Service is at your sole risk. THE SERVICE IS PROVIDED ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS. SKURUN EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS, IMPLIED OR STATUTORY, RELATING TO THE SITE, SERVICES, CONTENT AND USER SUBMISSIONS, INCLUDING WITHOUT LIMITATION THE WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OF PROPRIETARY RIGHTS, COURSE OF DEALING OR COURSE OF
PERFORMANCE. SkuRun does not warrant that (i) the Service will meet your specific requirements, (ii) the Service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the Service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the Service will meet your expectations, and (v) any errors in the Service will
be corrected.</p>

<p class="subtitle">Indemnity</p>
<p>You agree to defend, indemnify, and hold SkuRun, its officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including without limitation reasonable attorney's fees and costs, arising out of or in any way connected with (i) your access to or use of the Site or the Service; (ii) your violation of these Terms of Service; or (iii) your violation of any third party right, including without limitation any intellectual property right, publicity, confidentiality, property or privacy
right by you or your Application.</p>

<p class="subtitle">Limitation of Liability</p>

<p> You
expressly understand and agree that SkuRun shall not be liable for any direct,
indirect, incidental, special, consequential or exemplary damages, including
but not limited to, damages for loss of profits, goodwill, use, data or other
intangible losses (even if SkuRun has been advised of the possibility of such
damages), resulting from: (i) the use or the inability to use the Service; (ii)
the cost of procurement of substitute goods and services resulting from any
goods, data, information or services purchased or obtained or messages received
or transactions entered into through or from the Service;
(iii)&nbsp;unauthorized access to or alteration of your transmissions or data;
(iv) statements or conduct of any third party on the Service; (v) or any other
matter relating to the Service. In no event shall SkuRun's liability to you
exceed the amount actually paid to SkuRun by you during the preceding 12
months.</p>

<p class="subtitle">Governing Law</p>

<p>These
Terms of Service and any action related thereto will be governed by the laws of
the State of California without regard to its conflict of laws provisions.</p>

<p class="subtitle">Dispute Resolution</p>
<ul>
	<li>
		You and SkuRun agree that any dispute, claim or controversy arising out of or relating to these Terms or the breach, termination, enforcement, interpretation or validity thereof or the use of the Site, Services or Application (collectively, &quot;Disputes&quot;) will be settled by binding arbitration, except that each party retains the right to bring an individual action in small claims court and the right to seek injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party's copyrights, trademarks, trade secrets, patents or other intellectual property rights. You acknowledge and agree that you and SkuRun are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class action or representative proceeding. Further, unless both you and SkuRun otherwise agree in writing, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of any class or representative proceeding. If this specific paragraph is held unenforceable, then the entirety of this &quot;Dispute Resolution&quot; section will be deemed void. Except as provided in the preceding sentence, this &quot;Dispute Resolution&quot; section will survive any termination of these Terms of Service.
	</li>
	<li>
		Arbitration Rules and Governing Law. The arbitration will be administered by the American Arbitration Association (&quot;AAA&quot;) in accordance with the Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (the &quot;AAA Rules&quot;) then in effect, except as modified by this &quot;Dispute Resolution&quot; section. (The AAA Rules are available at www.adr.org/arb_med or by calling the AAA at 1-800-778-7879.) The Federal Arbitration Act will govern the interpretation and enforcement of this Section.
	</li>
	<li>
		Arbitration Process. A party who desires to initiate arbitration must provide the other party with a written Demand for Arbitration as specified in the AAA Rules. (The AAA provides a form Demand for Arbitration at www.adr.org/si.asp?id=3477 and a separate form for California residents at www.adr.org/si.asp?id=3485.) The arbitrator will be either a retired judge or an attorney licensed to practice law in the state of California and will be selected by the parties from the AAA's roster of consumer dispute arbitrators. If the parties are unable to agree upon an arbitrator within seven (7) days of delivery of the Demand for Arbitration, then the AAA will appoint the arbitrator in accordance with the AAA Rules.
	</li>
	<li>
		Arbitration Location and Procedure. Unless you and SkuRun otherwise agree, the arbitration will be conducted in the county where you reside. If your claim does not exceed $10,000, then the arbitration will be conducted solely on the basis of documents you and SkuRun submit to the arbitrator, unless you request a hearing or the arbitrator determines that a hearing is necessary. If your claim exceeds $10,000, your right to a hearing will be determined by the AAA Rules. Subject to the AAA Rules, the arbitrator will have the discretion to direct a reasonable exchange of information by the parties, consistent with the expedited nature of the arbitration.
	</li>
	<li>
		Arbitrator's Decision. The arbitrator will render an award within the time frame specified in the AAA Rules. The arbitrator's decision will include the essential findings and conclusions upon which the arbitrator based the award. Judgment on the arbitration award may be entered in any court having jurisdiction thereof. The arbitrator's award damages must be consistent with the terms of the &quot;Limitation of Liability&quot; section above as to the types and the amounts of damages for which a party may be held liable. The arbitrator may award declaratory or injunctive relief only in favor of the claimant and only to the extent necessary to provide relief warranted by the claimant's individual claim. If you prevail in arbitration you will be entitled to an award of attorneys' fees and expenses, to the extent provided under applicable law. SkuRun will not seek, and hereby waives all rights it may have under applicable law to recover, attorneys' fees and expenses if it prevails in arbitration.
	</li>
	<li>
		Fees. Your responsibility to pay any AAA filing, administrative and arbitrator fees will be solely as set forth in the AAA Rules. However, if your claim for damages does not exceed $75,000, SkuRun will pay all such fees unless the arbitrator finds that either the substance of your claim or the relief sought in your Demand for Arbitration was frivolous or was brought for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)).
	</li>
	<li>
		Changes. Notwithstanding the provisions of the &quot;Modification&quot; section above, if SkuRun changes this &quot;Dispute Resolution&quot; section after the date you first accepted these Terms of Service (or accepted any subsequent changes to these Terms of Service), you may reject any such change by sending us written notice (including by email to [Insert Email Address]) within 30 days of the date such change became effective, as indicated in the &quot;Last Updated Date&quot; above or in the date of SkuRun's email to you notifying you of such change. By rejecting any change, you are agreeing that you will arbitrate any Dispute between you and SkuRun in accordance with the provisions of this &quot;Dispute Resolution&quot; section as of the date you first accepted these Terms of Service (or accepted any subsequent changes to these Terms of Service).
	</li>
</ul>

<p class="subtitle">General</p>

<p>The
failure of SkuRun to exercise or enforce any right or provision of the Terms of
Service shall not constitute a waiver of such right or provision. The Terms of
Service constitutes the entire agreement between you and SkuRun and govern your
use of the Service, superseding any prior agreements between you and SkuRun
(including, but not limited to, any prior versions of the Terms of Service). If
for any reason a court of competent jurisdiction finds any provision of these
Terms of Service invalid or unenforceable, that provision will be enforced to
the maximum extent permissible and the other provisions of these Terms of
Service with remain in full force and effect.</p>

<p class="subtitle">Contacting SkuRun; Technical Support</p>

<p>Questions about the Terms of Service should be sent to&nbsp;
	<a href="mailto:info@SkuRun.com"><i>info@SkuRun.com</i></a>.
Technical support is only available via email. The technical support email
address is&nbsp;<i><a href="mailto:info@SkuRun.com">info@SkuRun.com</a></i>.</p>

</div>
</div>