<div class="container content">
<!-- Typography
================================================== -->
<section id="purpose">
  <!-- Headings & Paragraph Copy -->
	<div class="row">
		<div class="columns seven pull-left">
      <p class="ft44px">PURPOSE</p>
      <p class="ft24px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
			laoreet dolore magna aliquam erat volutpat.</p>
      <a href="#" class="btn-u btn-large hover-effect strong">CONTACT US</a>
    </div>
    <div class="columns five pull-right thumbnail">
      <img class="" src="<%= image_path('store/purpose.jpg') %>">
    </div>
	</div>
</section>
<section id="benefit">
  <div class="row">
    <div class="columns five pull-left thumbnail">
      <img class="six" src="<%= image_path('store/benefit.jpg') %>">
    </div>

    <div class="offset-by-one columns six pull-right">
      <p class="ft44px">BENEFIT</p>
      <p class="ft24px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
			laoreet .</p>
      <a href="#" class="btn-u btn-large hover-effect strong">CONTACT US</a>
    </div>
	</div>
</section>
<section id="technology">
	<div class="row">
		<div class="columns seven pull-left">
      <p class="ft44px">PURPOSE</p>
      <p class="ft24px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
			laoreet dolore magna aliquam erat volutpat.</p>
      <a href="#" class="btn-u btn-large hover-effect strong">CONTACT US</a>
    </div>
    <div class="columns five pull-right thumbnail">
      <img class="" src="<%= image_path('store/tech.jpg') %>">
    </div>
	</div>
</section>
</div>