<footer id="footer" class="" data-hook>
  <div id="footer-right" class="span9 center" data-hook>
  <ul>
  	<li>
  		<strong>Connect With Us : </strong>
  		<a href="https://twitter.com/SkuRun" target="_blank">Twitter</a> / 
  		<a href="http://www.linkedin.com/company/skurun" target="_blank">Linkedin</a>
  	</li>
  	<li>
  		<strong>Find Retailers : </strong>
  		<a href="/map">Map</a> / 
  		<a href="/">List</a> / 
  		<a href="/photos">Photo</a>
  	</li>
  	<li>
	  	<strong>For Retailers : </strong>
	  	<a href="/contacts">List With Us</a> / 
	  	<a href="https://itunes.apple.com/us/app/retail-mapper/id650172619?mt=8">Mobile App</a>
  	</li>
  	<li>
  		<strong>Corporate : </strong>
  		<a href="/contacts">Contact Us</a> / 
  		<a href="/terms-of-service">Terms of Use</a> / 
  		<a href="/privacy-policy">Privacy Policy</a>
  	</li>
		<li>Information deemed reliable but not guaranteed. All measurements are approximate. (c) SkuRun, Inc. 2012 - 2013</li>
	</ul>
  </div>
</footer>