<nav id="top-nav-bar" class="columns sixteen">
	<figure id="logo" class="pull-left" data-hook><%= logo %></figure>
  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" data-hook>
    </li>
  </ul>
</nav>