<div style="position: relative;" data-hook="homepage_products">
	<%= render :partial => 'spree/shared/product_detail_list', :locals => { :products => @products } %>
</div>
<script src="http://js.arcgis.com/3.6/"></script>
<script src="/assets/store/esri.js"></script>